<legend>Select your charity</legend>
 
<div class="row">
  <% @charities.each do |charity| %>
    <div class="span4">
      <div class="thumbnail">
        <%= image_tag(charity.image) %>
        <div class="caption">
          <h5><%= charity.name %></h5>
          <p>Registration number: <%= charity.registered_number %></p>
          <p><%= charity.activities %></p>
          <p><%= link_to charity.url %>
          <p><a href="#" class="btn btn-primary">Donate</a></p>
        </div>
      </div>
    </div>
  <% end %>  
</div>

