<!--<legend>Select your charity</legend>-->
 
<div class="row">
  <% @charities.each do |charity| %>
    <div class="span4">
      <div class="thumbnail">
        <%= image_tag(charity.image) %>
        <div class="caption">
          <h5><%= charity.name %></h5>
          <p>Registration number: <%= charity.registered_number %></p>
          <p class="charity-dash"><%= charity.activities %></p>
          <p><%= link_to charity.name, charity.url %></p>
          <%= form_tag(user_path(@user), :method => :put) do %>
          <%= hidden_field_tag :charity_id, charity.id %>
          <% if @user.charity_id && @user.charity.name == charity.name %>
            <%= submit_tag "Selected", {:class => "btn btn-danger"} %>
          <% else %>
            <%= submit_tag "Select", {:class => "btn btn-primary"} %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>  
</div>