<%= render "users/navbar" %>

<div id="main_content" class="container">

  <% flash.each do |name, msg| %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= msg %>
    </div> 
  <% end %>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Facebook Activity Trend</h3>
    </div>
    <%= render "activities/activity_trends" %>
    <% if @user.stripe_customer_id %>
      <p>Running total of activities since join or last donation <%= number_to_currency(recent_activity_cost(@user), :unit => "£") %>
      <p>Total donations to date <%= number_to_currency(total_donations(@user), :unit => "£") %>
    <% else %>
      <%= link_to "Donate Now", "#payment_form", class: "btn btn-danger navbar-btn pull-right" %>   
    <% end %>  
    <h3>Total donations to date <%= number_to_currency(total_donations(@user), :unit => "£") %>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Facebook Activity Totals</h3>
    </div>
    <%= render "activities/activity_breakdowns" %>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Donation Summary</h3>
    </div>
    <div class="well">
      <% if @user.stripe_customer_id %>
        <p>Accumulated for this period: <span class="label pull-right"><%= number_to_currency(recent_activity_cost(@user), :unit => "£") %><span></p>
        <p>Total to date <span class="label pull-right"><%= number_to_currency(total_donations(@user), :unit => "£") %><span></p>
      <% else %>
        <legend>You have not started making donations yet <%= link_to "Donate Now", "#payment_form", class: "btn btn-danger navbar-btn pull-right donate-now" %>
        </legend>
        <p class="don-legend">Donations are currently fixed at £0.50 per Facebook activity.</p>
      <% end %>  
    </div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Select Your Charity</h3>
    </div>
    <%= render "users/charity_selector" %>
  </div>
  
  
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#card-details-pane">
    Set up Payment
  </button>
  
  <div id="card-details-pane" class="panel panel-primary collapse in">
    <div class="panel-heading">
      <h3 class="panel-title">Donation Payments</h3>
    </div>
    <%= render "users/card_details_form" %>
  </div>

  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#donation-details-pane">
    Donation History
  </button>
  <div id="donation-details-pane" class="panel panel-primary collapse in">
    <div class="panel-heading">
      <h3 class="panel-title">Donation History</h3>
    </div>
    <%= render "users/donation_history" %>
  </div>
</div>

<%= render "users/loading_data" %>
