<%= render "users/navbar" %>

<div id="main_content" class="container">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Facebook Activity Trend</h3>
    </div>
    <%= render "activities/activity_trends" %>
    <% if @user.stripe_customer_id %>
      <p>Running total of activities since join or last donation <%= number_to_currency(recent_activity_cost(@user), :unit => "£") %>
      <p>Total donations to date <%= number_to_currency(total_donations(@user), :unit => "£") %>
    <% else %>
      <%= link_to "Donate Now", "#payment_form", class: "btn btn-danger navbar-btn pull-right" %>   
    <% end %>  
    
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Facebook Activity Breakdown</h3>
    </div>
    <%= render "activities/activity_breakdowns" %>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Available Charities</h3>
    </div>
    <%= render "users/charity_selector" %>
  </div>
  
  <br/>
  
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#card-details-pane">
    Set up donations
  </button>
  <div id="card-details-pane" class="panel panel-primary collapse in">
    <div class="panel-heading">
      <h3 class="panel-title">Donation Payments</h3>
    </div>
    <%= render "users/card_details_form" %>
  </div>


  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#donation-details-pane">
    Donation History
  </button>
  <div id="donation-details-pane" class="panel panel-primary collapse in">
    <div class="panel-heading">
      <h3 class="panel-title">Donation History</h3>
    </div>
    <%= render "users/donation_history" %>
  </div>
</div>
<br/>
<br/>
<%= render "users/loading_data" %>